.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 90%;
  margin: 20px auto 0;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 20px;
}

.addButton {
  margin-bottom: 20px;
}

.foundClients {
  font-size: small;
  margin-bottom: 20px;
}